.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px); /* Adjust width to account for the sidebar */
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Space between title and user details */
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
}

.user-details {
    margin-right: 50px;
    display: flex;
    align-items: center;
    /*gap: 10px;*/
    justify-content: flex-end; /* Align user details to the right */
}

.user {
    text-align: right;
    color: white;
    font-size: 14px;
}

.topbar img {
    width: 90px;
    height: 90px;
    border-radius: 50%; /* Make the image circular */
    margin-left: 20px;
}

main {
    margin-top: 100px; /* Add margin to prevent overlap with the fixed topbar */
}
